﻿
<!DOCTYPE html>
<html lang="es-NI" ng-app="App">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - NestrixCorp</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Biometric">
    <meta name="description" content="Nextrixcorp - Biometric Sistema Biometrico Nestrix Corporation." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/Content/style")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("css", required: false)
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body ng-controller="MonitorController">
    <div id="contaiterBody">
        <header>
            <div class="container">
                <div class="row">
                    <div class="pull-left1 col-xs-12 col-ms-4 col-sm-4">
                        <h1 class="site-title">
                            <a href="/">
                                <img src="~/Images/logo.png" alt="NestrixCorp" width="260" height="42" />
                            </a>
                        </h1>
                    </div>
                    <div class="pull-right1 col-xs-12 col-ms-8 col-sm-8">
                        <section id="login"></section>
                        <nav class="text-right navbar navbar-inverse">
                            <select>
                                <option ng-repeat="campana in campanas" value="{{campana.id}}">{{campana.nombre}}</option>
                            </select>                                                       
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="body">
            <div class="alert-container"></div>
            @RenderBody()
            <div class="spinner-container" ng-show="loagin">
                <div class="background"></div>
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <footer class="container-fluid">
            <div class="pull-left">
                <p>&copy; Nestrix Corp, @DateTime.Now.Year. All rights reserved.</p>
                <div id="data-server" class="hide" data-time="@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")" data-session="@System.Web.HttpContext.Current.Session.Timeout">
                    varsion: @ViewContext.Controller.GetType().Assembly.GetName().Version ; DateTime @DateTime.Now
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
