﻿@model SignalRAngular.Models.LoginModel
@{
    ViewBag.Title = "My Todo List";
}

@section css {

    <link href="~/Content/ng-table.min.css" rel="stylesheet" />
<link href="~/Content/css/Angular.css" rel="stylesheet" />
}
<article>
    <section>
        <div class="col-xs-4">
            <strong>Venta:</strong>
            <output></output>
        </div>
        <div class="col-xs-4">
            <strong>Verificada:</strong>
            <output></output>
        </div>
        <div class="col-xs-4">
            <strong>Actualizado:</strong>
            <output></output>
        </div>
    </section>
    <section>
        <div id="scrollable-area">
            <table ng-table="tableParams" class="table" fixed-table-headers="scrollable-area">
                <tr ng-repeat="venta in $data">
                    <td title="'Posición'">{{ $index + 1}}</td>
                    <td title="'Colaborador'">{{venta.nombreCompleto}}</td>
                    <td title="'Grupo'">{{venta.grupo}}</td>
                </tr>
            </table>
        </div>
    </section>
</article>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/ng-table.js"></script>
<script src="~/Scripts/js/stickytableheaders.js"></script>
    <script src="~/Scripts/js/AngularController.js"></script>
    <script>
        $(function () {
            var monitor = $.connection.monitorHub;
            $.connection.hub.logging = true;
            $.connection.hub.start().done(function () {
                monitor.server.hello("Cliente");
            });

            monitor.client.hello = function (data) {
                console.log(data);
                //alert(data);
            }
        });
    </script>
}