﻿/* 
Just make this block scrollable 
*/
#scrollable-area {
  margin: auto;
  width: 80%;
  height: 150px;
  border: 2px solid #ccc;
  overflow-y: scroll;
  /* <-- here is what is important*/
}
/* table styles */
body {
  font-family: Arial;
  font-size: 12px;
}
thead {
  background: #efefef;
}
table {
  width: 100%;
  border-spacing: 0;
  margin: 0;
}
table th,
table td {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
/*# sourceMappingURL=Angular.css.map */