﻿ol,
ul {
  padding: 0;
}
ol li,
ul li {
  list-style: none;
}
html {
  height: 100%;
}
.inline {
  display: inline-block;
}
textarea {
  resize: none;
}
output {
  padding: 0;
  display: inline-block;
  color: inherit;
}
.color-success {
  color: green;
}
.color-dange {
  color: red;
}
.color-warning {
  color: #eea236;
}
.relative {
  position: relative;
}
.form-inline {
  margin-bottom: 10px;
}
.hide{
    display: none;
}
body {
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  /* info and errors */
  /* styles for validation helpers */
}
body #contaiterBody {
  min-height: 100%;
  position: relative;
}
body #contaiterBody header {
  color: #999;
  background-color: #000;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}
body #contaiterBody header a {
  color: #999;
}
body #contaiterBody header a:hover,
body #contaiterBody header a:focus {
  color: #fff;
  text-decoration: none;
}
body #contaiterBody header .navbar-inverse {
  background: none;
  border: none;
  margin: 0;
  min-height: unset;
}
body #contaiterBody header .site-title {
  margin-top: 22px;
}
body #contaiterBody header .site-title a {
  height: 42px;
  display: inline-block;
}
body #contaiterBody header #login {
  text-align: right;
}
body #contaiterBody header #login ul {
  margin-bottom: 0;
  margin-top: 10px;
}
body #contaiterBody header #login ul li {
  display: inline-block;
  padding: 5px 10px;
}
body #contaiterBody header .navbar-toggle {
  border-color: #555;
}
body #contaiterBody header #menu {
  margin: 0;
}
body #contaiterBody header #menu li {
  display: inline-block;
  padding: 5px 10px;
  /*font-size: 18px;*/
  font-size: 16px;
  font-weight: bold;
}
body #contaiterBody header #menu li.selected a,
body #contaiterBody header #menu li a.active {
  color: #fff;
}
@media screen and (max-width: 768px) {
  body #contaiterBody header #menu {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50px;
    background-color: black;
    border: 1px solid #5a5a5a;
    -webkit-box-shadow: 0 2px 1px 2px #d6d6d6;
    -moz-box-shadow: 0 2px 1px 2px #d6d6d6;
    box-shadow: 0 2px 1px 2px #d6d6d6;
  }
  body #contaiterBody header #menu li {
    display: block;
    list-style: none;
  }
  body #contaiterBody header #menu li:hover {
    background-color: #3a3a3a;
  }
}
body #contaiterBody #body {
  clear: both;
  padding: 0 0 25px 0;
  position: relative;
}
body #contaiterBody #body #date {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
}
body #contaiterBody #body #date input {
  z-index: 0;
}
body #contaiterBody #body .container {
  position: relative;
}
body #contaiterBody #body .container h2 {
  margin-top: 0;
}
body #contaiterBody #body .container .date-input {
  width: 170px;
  display: inline-block;
}
body #contaiterBody #body .container .date-input .glyphicon {
  cursor: pointer;
}
body #contaiterBody #body .dataTables_wrapper .dataTables_filter {
  text-align: left;
}
body #contaiterBody #body .dataTables_wrapper .dataTables_filter label {
  font-weight: bold;
}
body #contaiterBody #body .dataTables_wrapper .dataTables_length {
  float: left;
}
body #contaiterBody #body .dataTables_wrapper .dataTables_paginate {
  float: right;
}
body #contaiterBody #body .dataTables_wrapper .dataTables_info {
  clear: both;
  text-align: center;
}
body #contaiterBody #body .fc-view,
body #contaiterBody #body .fc-view > table {
  z-index: 0;
}
body #contaiterBody footer {
  clear: both;
  background-color: #e2e2e2;
  font-size: .8em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body .alert-container {
  position: fixed;
  z-index: 1040;
  right: 10px;
  left: 10px;
  top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
body .alert-container .alert {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0;
}
body .message-info {
  border: 1px solid;
  clear: both;
  padding: 10px 20px;
}
body .message-error {
  clear: both;
  color: #e80c4d;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
body .message-success {
  color: #7ac0da;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
body .error {
  color: #e80c4d;
}
body .field-validation-error {
  color: #e80c4d;
  font-weight: bold;
}
body .field-validation-valid {
  display: none;
}
body input.input-validation-error {
  border: 1px solid #e80c4d;
}
body input[type="checkbox"].input-validation-error {
  border: 0 none;
}
body .validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 1.1em;
}
body .validation-summary-valid {
  display: none;
}
/*@import url('Spinner.less');*/
.spinner-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.spinner-container .background {
  background-color: #dadada;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  cursor: progress;
}
.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  margin: 0;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Site.css.map */