﻿
@Alabaster:                     #F6F6F6;
@Alto:                          #D6D6D6;
@AzureRadiance:                 #0393EF;
@Black:                         #000000;
@BlazeOrange:                   #FF6600;
@Boulder:                       #797979;
@BrightTurquoise:               #00CAFD;
@CloudBurst:                    #212C43;
@Cornflower:                    #8FD6E6;
@DodgerBlue:                    #33CCFF;
@Doulder:                       #777777;
@DoveGray:                      #6C6C6C;
@DustyGray:                     #999999;
@Firefly:                       #0D1629;
@Gallery:                       #F0F0F0;
@Green:                         #1EFF00;
@GreenWhite:                    #E5E5DA;
@GullGray:                      #94A0B4;
@HippieBlue:                    #549BAB;
@Jumbo:                         #797A80;
@Lime:                          #BAFF00;
@Mako:                          #41494E;
@Malibu:                        #7CCBFC;
@Mauvelous:                     #F29090;
@Mercury:                       #E5E5E5;
@MidGray:                       #6A6B72;
@MineShaft:                     #3C3C3C;
@Mirage:                        #1B253B;
@Pistachio:                     #7AD108;
@Red:                           red;
@rose:                          #FF008A;
@SantasGray:                    #9AA0AE;
@Scorpion:                      #575757;
@Silver:                        #CCCCCC;
@SilverChalice:                 #AAAAAA;
@StTropaz:                      #244B93;
@Tango:                         #F07C16;
@White:                         #FFFFFF;
@WildSand:                      #F5F5F5;

@background-color-fc:           #100C7E;
@background-color-fc-hover:     #163D97;
@background-color-tw:           #0278A3;
@background-color-tw-hover:     #0084B4;
@link-active-black:             #000000;
@error:                         red;
@success:                       #7AC0DA;